body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(135deg, #74f665 0%, #ff9274 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

div {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 40px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

p {
  color: red;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

input:focus {
  border-color: #fda085;
  outline: none;
}

button {
  background: linear-gradient(135deg, #74f665 0%, #ff9274 100%);
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #f6d365;
  font-weight: bold;
}
