<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>success</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Oauth using passport</h1>
    <p style="color: green; font-weight: bold">Google Authentication success</p>
    <p>Welcome, <%= user.name %></p>
    <a href="/logout">Logout</a>
  </body>
</html>
