<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      src="https://kit.fontawesome.com/ee770dc837.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <a href="/auth/google" class="google">
      <i class="fa-brands fa-google fa-beat"></i>Login with Google</a
    >
    <a href="/auth/github" class="github"
      ><i class="fa-brands fa-github fa-beat"></i>Login with Github</a
    >
  </body>
</html>
