<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>failure</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Oauth using passport</h1>
    <p style="color: red; font-weight: bold">Github Authentication failed</p>
    <a href="/">Try Again</a>
  </body>
</html>
